body {
  --main-red: #992538;
  background-color: var(--main-red);
  color: white;
}

.heroProfile {
  background: url("./hero_profile.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 480px;
  min-height: 40svh;
  aspect-ratio: 1 / 1;
  margin-bottom: -24px;
}

.heroSprite {
  width: 100%;
}

.heroSection,
.socials,
.linkTree {
  width: 90%;
  max-width: 600px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 50svh;
}

.heroTagline {
  margin: 16px 0;
}

.socials {
  margin: 4px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  a {
    width: 2rem;
    height: 2rem;

    transition: transform 50ms ease-out;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.25) rotate(5deg);
      }
    }

    &:active {
      transform: scale(0.8);
    }
  }
}

section.linkTree {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;

  a {
    background: white;
    color: var(--main-red);
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
